* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #fab22e;
}

.wrapper {
  width: 80vmin;
  padding: 50px 40px;
  background-color: #15161a;
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 6px;
  box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
}

span {
  display: block;
  text-align: center;
  font-size: 100px;
}

p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 35px;
  margin: 30px 0;
  opacity: 0;
}

.fade{
  opacity: 1;
  transition: opacity 1.5s;
}

#btn {
  display: block;
  border: none;
  outline: none;
  background-color: #fab22e;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 700;
  color: #15161a;
  border-radius: 5px;
  margin: 0 auto;
  transition: all ease 0.1s;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px #c2b00e;
}

#btn:active,#copy:active{
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #c2b00e;
}


#copy{
  display: block;
  border: none;
  outline: none;
  background-color: #fab22e;
  padding: 2px;
  font-size: 15px;
  font-weight:200;
  color: #15161a;
  border-radius: 2px;
  transition: all ease 0.1s;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px #c2b00e;
}

